﻿@model Wha.Models.UploadFileViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @using (Html.BeginForm("CustomerRiskInspector", "Home", FormMethod.Post,
                                      new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <br />
        <fieldset>
            <div class="col-lg-10 col-sm-10 col-12">
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                            Browse&hellip; @Html.TextBoxFor(m => m.CsvFile, new { type = "file" })
                        </span>
                        <span class="form-group has-error" style="position: absolute; left: 385px; top: 10px;">
                            @Html.ValidationMessageFor(m => m.CsvFile, "", new { @class = "control-label" })
                        </span>
                    </span>
                    <input type="text" id="csvFileText" class="form-control" placeholder="Open a file to inspect..." readonly>
                </div><br />
                <label class="checkbox-inline">
                    <input type="checkbox" id="hasSettled" name="hasSettled" value="true" /> Are the bets for this file have been settled?
                </label> &nbsp;&nbsp;
                <input type="submit" value="Upload" class="btn btn-primary" style="text-align: right" />
            </div>
        </fieldset>
    }
</div>
