﻿@model Wha.Models.CustomerRiskAnalysisViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>@ViewBag.Title</h3>
    <hr />
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Event</th>
                    <th>Participant</th>
                    <th>Stake</th>
                    <th>Win</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model.UnsettledBetsToInspect)
                {

                    <tr @(m.HasUnusualWinHistory ? "class=danger" : "class=")>
                        <td>@m.Customer</td>
                        <td>@m.Event</td>
                        <td>@m.Participant</td>
                        <td>@m.Stake.ToString("C2")</td>
                        <td>@m.ToWin.ToString("C2")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

